<a href="https://colab.research.google.com/github/jadesola123/Hamoye-Stage-D/blob/main/Hamoye_Stage_D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, BatchNormalization, Conv2D, MaxPooling2D
from tensorflow.keras.layers import Dropout, Flatten
from tensorflow.keras.optimizers import Adam, SGD
from tensorflow.keras.callbacks import EarlyStopping, ModelCheckpoint, TensorBoard
from tensorflow.keras.preprocessing.image import ImageDataGenerator

In [ ]:
#Reading the train classes that contains the image names and tags from the directory
train_classes = pd.read_csv('/train_classes.csv')
train_classes.head()

  image_name                                       tags
0    train_0                               haze primary
1    train_1            agriculture clear primary water
2    train_2                              clear primary
3    train_3                              clear primary
4    train_4  agriculture clear habitation primary road

In [ ]:
labels = set()
def splitting_tags(tags):
    '''
    Takes in tags column, splits the tags and store as a set
    '''
    [labels.add(tag) for tag in tags.split()]
    
# Create a copy of train_classes
train_classes1 = train_classes.copy()
train_classes1['tags'].apply(splitting_tags)
labels = list(labels)
print(labels)

['slash_burn', 'artisinal_mine', 'cloudy', 'primary', 'road', 'bare_ground', 'clear', 'partly_cloudy', 'agriculture', 'selective_logging', 'habitation', 'blooming', 'haze', 'blow_down', 'conventional_mine', 'cultivation', 'water']

In [ ]:
assert len(train_classes1['image_name'].unique()) == train_classes1.shape[0]

In [ ]:
##One hot encoding is performed on the labels in train classes 

for tag in labels:
    train_classes1[tag] = train_classes1['tags'].apply(lambda x: 1 if tag in x.split() else 0)
    
## adding .jpg extension to the column image_name so as to have same name format as the image files
train_classes1['image_name'] = train_classes1['image_name'].apply(lambda x: '{}.jpg'.format(x))
train_classes1.head()

,image_name,tags,slash_burn,artisinal_mine,cloudy,primary,road,bare_ground,clear,partly_cloudy,agriculture,selective_logging,habitation,blooming,haze,blow_down,conventional_mine,cultivation,water
0,train_0.jpg,haze primary,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0
1,train_1.jpg,agriculture clear primary water,0,0,0,1,0,0,1,0,1,0,0,0,0,0,0,0,1
2,train_2.jpg,clear primary,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0
3,train_3.jpg,clear primary,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0
4,train_4.jpg,agriculture clear habitation primary road,0,0,0,1,1,0,1,0,1,0,1,0,0,0,0,0,0

In [ ]:
# Defining the columns,i.e the labels that were newly added to the train_classes via hot encoding.
columns = list(train_classes1.columns[2:])
columns

['slash_burn',
 'artisinal_mine',
 'cloudy',
 'primary',
 'road',
 'bare_ground',
 'clear',
 'partly_cloudy',
 'agriculture',
 'selective_logging',
 'habitation',
 'blooming',
 'haze',
 'blow_down',
 'conventional_mine',
 'cultivation',
 'water']

In [ ]:
def fbeta(y_true, y_pred, beta = 2, epsilon = 1e-4):
    '''
    Set y_true and y_pred

    Args:
        y_true: correct target values
        Y_pred: predicted values returned by the classifer
        beta = 2
        epsilon= 1e-4
        
    Returns:
        fbeta score
    '''
    
    beta_squared = beta**2
    
    y_true = tf.cast(y_true, tf.float32)
    y_pred = tf.cast(tf.greater(tf.cast(y_pred, tf.float32), tf.constant(0.5)), tf.float32)
    
    tp = tf.reduce_sum(y_true * y_pred, axis = 1)
    fp = tf.reduce_sum(y_pred, axis = 1) - tp
    fn = tf.reduce_sum(y_true, axis = 1) - tp
    
    precision = tp/(tp+fp+epsilon)
    recall = tp/(tp+fn+epsilon)
    
    fb = (1+beta_squared)*precision*recall / (beta_squared*precision+recall+epsilon)
    return fb

In [ ]:
def multi_label_acc(y_true, y_pred, epsilon = 1e-4):
    '''
    Retuns accuracy value for multi_label classification
    
    Set y_true and y_pred

    Args:
        y_true: correct target values
        Y_pred: predicted values returned by the classifer
        epsilon= 1e-4
        
    Returns:
        Accuracy score
    '''
    y_true = tf.cast(y_true, tf.float32)
    y_pred = tf.cast(tf.greater(tf.cast(y_pred, tf.float32), tf.constant(0.5)), tf.float32)
    
    tp = tf.reduce_sum(y_true * y_pred, axis = 1)
    fp = tf.reduce_sum(y_pred, axis = 1) - tp
    fn = tf.reduce_sum(y_true, axis = 1) - tp
    
    y_true = tf.cast(y_true, tf.bool)
    y_pred = tf.cast(y_pred, tf.bool)
        
    tn = tf.reduce_sum(tf.cast(tf.logical_not(y_true), tf.float32)
                       * tf.cast(tf.logical_not(y_pred), tf.float32), axis = 1)
    
    return (tp+tn)/(tp+tn+fp+fn+epsilon)

In [ ]:
#defining our model
def build_model():
    model = Sequential()
    model.add(BatchNormalization(input_shape=(128, 128, 3)))
    model.add(Conv2D(32, kernel_size=(3, 3), padding='same', activation='relu'))
    model.add(Conv2D(32, kernel_size=(3, 3), activation='relu'))
    model.add(MaxPooling2D(pool_size=(2, 2)))
    model.add(Dropout(0.2))

    model.add(Conv2D(64, kernel_size=(3, 3), padding='same', activation='relu'))
    model.add(Conv2D(64, kernel_size=(3, 3), activation='relu'))
    model.add(MaxPooling2D(pool_size=(2, 2)))
    model.add(Dropout(0.2))

    model.add(Conv2D(128, kernel_size=(3, 3), padding='same', activation='relu'))
    model.add(Conv2D(128, kernel_size=(3, 3), activation='relu'))
    model.add(MaxPooling2D(pool_size=(2, 2)))
    model.add(Dropout(0.2))

    model.add(Conv2D(256, kernel_size=(3, 3), padding='same', activation='relu'))
    model.add(Conv2D(256, kernel_size=(3, 3), activation='relu'))
    model.add(MaxPooling2D(pool_size=(2, 2)))
    model.add(Dropout(0.2))

    model.add(Flatten())
    model.add(Dense(512, activation='relu'))
    model.add(Dropout(0.5))
    model.add(Dense(17, activation='sigmoid'))

    opt = Adam(lr=1e-4)
    
    # We need binary here, since categorical_crossentropy l1 norms the output before calculating loss.
    model.compile(loss='binary_crossentropy',
              optimizer=opt,
              metrics=[multi_label_acc, fbeta])

    return model

In [ ]:
#modelcheckpoint is set to monitor the model using validation fbeta score and save the best only
save_best_check_point = ModelCheckpoint(filepath = 'best_model.hdf5', 
                                        monitor = 'val_fbeta',
                                        mode = 'max',
                                        save_best_only = True,
                                        save_weights_only = True)

In [ ]:
#initializing imagedatagenerator with a validation split of 0.2
train_image_gen = ImageDataGenerator(rescale = 1/255, validation_split = 0.2)

#generating train data generator which is 80% of the train dataset
#note that a generator contains both features and target of the data
train_generator = train_image_gen.flow_from_dataframe(dataframe=train_classes1,
                                                directory ="/train-jpg",  
                                                x_col="image_name", y_col=columns, subset="training", 
                                                batch_size=16,seed=2021, shuffle=True, 
                                                class_mode="raw", target_size=(128,128))

#generating validation data which is expected to be 20% of the train dataset since validation split is 0.2
val_generator = train_image_gen.flow_from_dataframe(dataframe=train_classes1,
                                                directory ="/train-jpg",  
                                                x_col="image_name", y_col=columns, subset="validation", 
                                                batch_size=16,seed=2021, shuffle=True, 
                                                class_mode="raw", target_size=(128,128))

Found 87 validated image filenames.
Found 21 validated image filenames.

In [ ]:
step_train_size = int(np.ceil(train_generator.samples / train_generator.batch_size))
step_val_size = int(np.ceil(val_generator.samples / val_generator.batch_size))

In [ ]:
#initialize the model
model1 = build_model()
# Preview the model architecture
model1.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 batch_normalization (BatchN  (None, 128, 128, 3)      12
 ormalization)

 conv2d (Conv2D)             (None, 128, 128, 32)      896

 conv2d_1 (Conv2D)           (None, 126, 126, 32)      9248

 max_pooling2d (MaxPooling2D  (None, 63, 63, 32)       0
 )

 dropout (Dropout)           (None, 63, 63, 32)        0

 conv2d_2 (Conv2D)           (None, 63, 63, 64)        18496

 conv2d_3 (Conv2D)           (None, 61, 61, 64)        36928

 max_pooling2d_1 (MaxPooling  (None, 30, 30, 64)       0
 2D)

 dropout_1 (Dropout)         (None, 30, 30, 64)        0

 conv2d_4 (Conv2D)           (None, 30, 30, 128)       73856

 conv2d_5 (Conv2D)           (None, 28, 28, 128)       147584

 max_pooling2d_2 (MaxPooling  (None, 14, 14, 128)      0
 2D)

 dropout_2 (Dropout)         (None, 14, 14, 128)       0

 conv2d_6 (Conv2D)           (None, 14, 14, 256)       295168

 conv2d_7 (Conv2D)           (None, 12, 12, 256)       590080

 max_pooling2d_3 (MaxPooling  (None, 6, 6, 256)        0
 2D)

 dropout_3 (Dropout)         (None, 6, 6, 256)         0

 flatten (Flatten)           (None, 9216)              0

 dense (Dense)               (None, 512)               4719104

 dropout_4 (Dropout)         (None, 512)               0

 dense_1 (Dense)             (None, 17)                8721

=================================================================
Total params: 5,900,093
Trainable params: 5,900,087
Non-trainable params: 6
_________________________________________________________________

/usr/local/lib/python3.7/dist-packages/keras/optimizer_v2/adam.py:105: UserWarning: The `lr` argument is deprecated, use `learning_rate` instead.
  super(Adam, self).__init__(name, **kwargs)

In [ ]:
#fitting the model
model1.fit(x = train_generator, 
           steps_per_epoch = step_train_size, 
           validation_data = val_generator, 
           validation_steps = step_val_size,epochs = 25, 
           callbacks = [save_best_check_point])

Epoch 1/25
6/6 [==============================] - 19s 3s/step - loss: 0.5880 - multi_label_acc: 0.8215 - fbeta: 0.5294 - val_loss: 0.6241 - val_multi_label_acc: 0.8992 - val_fbeta: 0.6005
Epoch 2/25
6/6 [==============================] - 14s 2s/step - loss: 0.4099 - multi_label_acc: 0.8999 - fbeta: 0.5689 - val_loss: 0.5243 - val_multi_label_acc: 0.8992 - val_fbeta: 0.6005
Epoch 3/25
6/6 [==============================] - 12s 2s/step - loss: 0.3624 - multi_label_acc: 0.8627 - fbeta: 0.4950 - val_loss: 0.6003 - val_multi_label_acc: 0.8992 - val_fbeta: 0.6005
Epoch 4/25
6/6 [==============================] - 16s 3s/step - loss: 0.3115 - multi_label_acc: 0.8871 - fbeta: 0.5646 - val_loss: 0.6169 - val_multi_label_acc: 0.8992 - val_fbeta: 0.6005
Epoch 5/25
6/6 [==============================] - 12s 2s/step - loss: 0.3089 - multi_label_acc: 0.8986 - fbeta: 0.5817 - val_loss: 0.6188 - val_multi_label_acc: 0.8992 - val_fbeta: 0.6005
Epoch 6/25
6/6 [==============================] - 13s 2s/step - loss: 0.2800 - multi_label_acc: 0.9047 - fbeta: 0.6179 - val_loss: 0.6233 - val_multi_label_acc: 0.8992 - val_fbeta: 0.6005
Epoch 7/25
6/6 [==============================] - 14s 3s/step - loss: 0.2765 - multi_label_acc: 0.9040 - fbeta: 0.5994 - val_loss: 0.6100 - val_multi_label_acc: 0.8992 - val_fbeta: 0.5306
Epoch 8/25
6/6 [==============================] - 12s 2s/step - loss: 0.2779 - multi_label_acc: 0.9013 - fbeta: 0.5851 - val_loss: 0.5745 - val_multi_label_acc: 0.9048 - val_fbeta: 0.5643
Epoch 9/25
6/6 [==============================] - 12s 2s/step - loss: 0.2720 - multi_label_acc: 0.8965 - fbeta: 0.5952 - val_loss: 0.5624 - val_multi_label_acc: 0.8936 - val_fbeta: 0.4938
Epoch 10/25
6/6 [==============================] - 12s 2s/step - loss: 0.2670 - multi_label_acc: 0.9013 - fbeta: 0.6007 - val_loss: 0.5547 - val_multi_label_acc: 0.8936 - val_fbeta: 0.4938
Epoch 11/25
6/6 [==============================] - 13s 2s/step - loss: 0.2598 - multi_label_acc: 0.9033 - fbeta: 0.5937 - val_loss: 0.5321 - val_multi_label_acc: 0.9020 - val_fbeta: 0.5431
Epoch 12/25
6/6 [==============================] - 12s 2s/step - loss: 0.2656 - multi_label_acc: 0.9094 - fbeta: 0.6193 - val_loss: 0.5157 - val_multi_label_acc: 0.8908 - val_fbeta: 0.4424
Epoch 13/25
6/6 [==============================] - 12s 2s/step - loss: 0.2568 - multi_label_acc: 0.8999 - fbeta: 0.5909 - val_loss: 0.5251 - val_multi_label_acc: 0.8880 - val_fbeta: 0.4159
Epoch 14/25
6/6 [==============================] - 13s 2s/step - loss: 0.2545 - multi_label_acc: 0.8986 - fbeta: 0.5941 - val_loss: 0.4921 - val_multi_label_acc: 0.9048 - val_fbeta: 0.5643
Epoch 15/25
6/6 [==============================] - 12s 2s/step - loss: 0.2564 - multi_label_acc: 0.9026 - fbeta: 0.6093 - val_loss: 0.4904 - val_multi_label_acc: 0.9020 - val_fbeta: 0.5346
Epoch 16/25
6/6 [==============================] - 12s 2s/step - loss: 0.2358 - multi_label_acc: 0.9040 - fbeta: 0.6112 - val_loss: 0.4705 - val_multi_label_acc: 0.9048 - val_fbeta: 0.5643
Epoch 17/25
6/6 [==============================] - 12s 2s/step - loss: 0.2545 - multi_label_acc: 0.8952 - fbeta: 0.5990 - val_loss: 0.4776 - val_multi_label_acc: 0.9048 - val_fbeta: 0.5643
Epoch 18/25
6/6 [==============================] - 12s 2s/step - loss: 0.2485 - multi_label_acc: 0.9013 - fbeta: 0.6117 - val_loss: 0.4728 - val_multi_label_acc: 0.9048 - val_fbeta: 0.5643
Epoch 19/25
6/6 [==============================] - 12s 2s/step - loss: 0.2598 - multi_label_acc: 0.9026 - fbeta: 0.6026 - val_loss: 0.4450 - val_multi_label_acc: 0.9048 - val_fbeta: 0.5643
Epoch 20/25
6/6 [==============================] - 12s 2s/step - loss: 0.2395 - multi_label_acc: 0.9040 - fbeta: 0.6223 - val_loss: 0.4401 - val_multi_label_acc: 0.9048 - val_fbeta: 0.5643
Epoch 21/25
6/6 [==============================] - 12s 2s/step - loss: 0.2438 - multi_label_acc: 0.8993 - fbeta: 0.5942 - val_loss: 0.4310 - val_multi_label_acc: 0.9020 - val_fbeta: 0.5082
Epoch 22/25
6/6 [==============================] - 14s 2s/step - loss: 0.2425 - multi_label_acc: 0.9107 - fbeta: 0.6410 - val_loss: 0.4395 - val_multi_label_acc: 0.9048 - val_fbeta: 0.5346
Epoch 23/25
6/6 [==============================] - 12s 2s/step - loss: 0.2446 - multi_label_acc: 0.9060 - fbeta: 0.6395 - val_loss: 0.4188 - val_multi_label_acc: 0.8992 - val_fbeta: 0.5346
Epoch 24/25
6/6 [==============================] - 12s 2s/step - loss: 0.2362 - multi_label_acc: 0.9053 - fbeta: 0.6033 - val_loss: 0.4087 - val_multi_label_acc: 0.8992 - val_fbeta: 0.6193
Epoch 25/25
6/6 [==============================] - 12s 2s/step - loss: 0.2524 - multi_label_acc: 0.9053 - fbeta: 0.5926 - val_loss: 0.4205 - val_multi_label_acc: 0.8992 - val_fbeta: 0.5603

In [ ]:
#initializing a second model to make predictions
model2 = build_model()
##adding .jpg extension to image name in the sample submission file
sample_submission = pd.read_csv('/sample_submission.csv')
sample_submission1 = sample_submission.copy()
sample_submission1['image_name'] = sample_submission1['image_name'].apply(lambda x: '{}.jpg'.format(x))
sample_submission1.head()

   image_name                                  tags
0  test_0.jpg  primary clear agriculture road water
1  test_1.jpg  primary clear agriculture road water
2  test_2.jpg  primary clear agriculture road water
3  test_3.jpg  primary clear agriculture road water
4  test_4.jpg  primary clear agriculture road water

In [ ]:
#loading in the weights of the trained model
model2.load_weights('best_model.hdf5')
# Divide the sample submission file into two splits,
# first test1_df which contains the first 40669 images 
test1_df = sample_submission1.iloc[:40669]['image_name'].reset_index().drop('index', axis =1)
test1_df.head()

   image_name
0  test_0.jpg
1  test_1.jpg
2  test_2.jpg
3  test_3.jpg
4  test_4.jpg

In [ ]:
#initialize imagedatagenerator for the test images and also rescaling
test_image_gen = ImageDataGenerator(rescale = 1/255)


#creating a generator for the images found in the first test image files
test_generator1 = test_image_gen.flow_from_dataframe(dataframe=test1_df, 
                                                directory="/test-jpg", 
                                                x_col="image_name", 
                                                y_col=None, 
                                                batch_size=16, 
                                                shuffle=False, 
                                                class_mode=None, 
                                                target_size=(128,128))

step_test_size1 = int(np.ceil(test_generator1.samples/test_generator1.batch_size))

Found 0 validated image filenames.

/usr/local/lib/python3.7/dist-packages/keras_preprocessing/image/dataframe_iterator.py:282: UserWarning: Found 40669 invalid image filename(s) in x_col="image_name". These filename(s) will be ignored.
  .format(n_invalid, x_col)

In [ ]:

test_generator1.reset()
pred1 = model2.predict(test_generator1, steps = step_test_size1, verbose = 1)

ValueError: ignored

In [ ]:
#this is to get the filenames in the generator using the attribute .filenames
file_names1 = test_generator1.filenames

#convert the predicted values to a dataframe and join two labels together if the probability of occurrance 
#of the label is greater than 0.5 
pred_tags1 = pd.DataFrame(pred1)
pred_tags1 = pred_tags1.apply(lambda x: ' '.join(np.array(labels)[x>0.5]), axis = 1)

#then the result should look like this 
result1 = pd.DataFrame({'image_name': file_names1, 'tags': pred_tags1})
result1.head()

In [ ]:
#second batch of the test dataset
test2_df = sample_submission1.iloc[40669:]['image_name'].reset_index().drop('index', axis =1)
test2_df.head()

In [ ]:
#creating a generator for the second batch of test image files
test_generator2 = test_image_gen.flow_from_dataframe(dataframe=test2_df, 
                                                directory="/test-jpg-additional", 
                                                x_col="image_name", 
                                                y_col=None, 
                                                batch_size=16, 
                                                shuffle=False, 
                                                class_mode=None, 
                                                target_size=(128,128))

step_test_size2 = int(np.ceil(test_generator2.samples/test_generator2.batch_size))

In [ ]:
#we reset the generator to avoid shuffling, then make prediction on the generator
test_generator2.reset()
pred2 = model2.predict(test_generator2, steps = step_test_size2, verbose = 1)

In [ ]:
#this is to get the filenames in the generator using the attribute .filenames
file_names2 = test_generator2.filenames

#convert the predicted values to a dataframe and join two labels together if the probability of occurrance 
#of the label is greater than 0.5
pred_tags2 = pd.DataFrame(pred2)
pred_tags2 = pred_tags2.apply(lambda x: ''.join(np.array(labels)[x>0.5]), axis = 1)

#then the result should look like this
result2 = pd.DataFrame({'image_name': file_names2, 'tags': pred_tags2})
result2.head()

In [ ]:
#for the final result of the predicted tags for the test images,
# we need to concat the first and second results in 
#that order to avoid shuffling the index
last_result = pd.concat([result1, result2])

last_result = last_result.reset_index().drop('index', axis =1)

print(last_result.shape)
#print the final result
last_result.head()

In [ ]:
#we need to remove the .jpg extension from the image_name of the
# last_result because from the sample submission the 
#extension was not there, we added it for easy manipulation of the data.
last_result['image_name'] = last_result['image_name'].apply(lambda x: x[:-4])
last_result.head()

In [ ]:
# Finally, we save the result to a csv file using the .to_csv() 
# method and setting the index to false.
last_result.to_csv('submission13.csv', index = False)